
// Classic UW - right sidebar

.sidebar {
	background: @uw-tan-light;
	position:relative;
	padding-top:24px;
	padding-bottom:24px;
	height:100%;
	&.sidebar-right {
		border-left: 1px solid @uw-gray-medium;	
		.nav-sidebar {
			a:hover,
			a:focus {
				background-color: transparent;
			}
		}
	}
	&.sidebar-right,
	&.sidebar-left {
		@media (max-width: @grid-float-breakpoint) {
			border:none;
		}		
	}


	//.sidebar media queries
	@media (max-width: @grid-float-breakpoint) {
		height:auto;
	}
}
