// bold links within paragraphs and list items that appear within the grid
[class*="col-"] {
  p, li {
    a {
      font-weight: bold;
    }
  }
}

// Bold, large type for first paragraph in section. 
// Use for an intro paragraph, e.g.
.bold-first-graph {
  p:first-of-type {
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #777;
  }
}