/*  This is example of how you can write your own CSS to customize any template based on the UW UI Toolkit.

The following CSS rules override the default UW UI Toolkit's UW Classic starter template, removing the borders around the #header, #content, and #footer areas, and adding a gradiend to the #header area */


#header {
	background: -webkit-linear-gradient(#f7f5e8, #e1dbcc);
  background: -o-linear-gradient(#f7f5e8, #e1dbcc);
  background: -moz-linear-gradient(#f7f5e8, #e1dbcc);
  background: linear-gradient(#f7f5e8, #e1dbcc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7f5e8', endColorstr='#ffe1dbcc', GradientType=0)
}

#header .container {
	background-color: transparent;
	filter: none;
}

#header .uw-header-site-title a {
	color: #b70101; 
}

#header .uw-header-wordmark {
	color: #333;
}

/*.navbar.uw-navbar-classic .container .navbar-toggle .icon-bar{
	background-color: #CCC
}
*/



.navbar.uw-navbar-classic .container .nav > li.active,
.navbar.uw-navbar-classic .container .nav > li > a:hover {
	background: #555;
	filter: none;
}
@media (min-width: 768px) {
	.navbar.uw-navbar-classic .container .nav > li.active, .navbar.uw-navbar-classic .container .navbar-collapse .nav > li > a:hover {
		background: #700;
		filter: none;
	}
}

#navbar .uw-navbar-classic {
	background: #990000;
	filter: none;
}

#navbar .container {
	box-shadow: none;
	background: #990000;
	filter: none;
}
#navbar .navbar-nav li,
#navbar .navbar-nav a {
	border: none;
	color: #FFF;
}
#navbar .navbar-nav li li,
#navbar .navbar-nav li li a {
	/*border: none;*/
	color: white;
}
@media (min-width: 768px) {
	#navbar .navbar-nav li li,
	#navbar .navbar-nav li li a {
		border: none;
		color: #b70101;
	}
}


 #navbar .navbar.uw-navbar-classic .container .nav.uw-navbar-classic-utility > li > a {
	color: #aaa;
}
.navbar.uw-navbar-classic .container .caret {
	border-top-color: white;
	border-bottom-color: white;
}

#content {
	background: none;
	filter: none;
}

#content .container {
	border: none;
}

#footer {
	border-top: 10px solid #666152;
}

#footer .container {
	border: 0;
}
